html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body {
  font-family: "PT Sans",sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  background: #FFB7ED;
  color: #444;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 5%;
  margin-bottom: 20px;
  color: #F2F2F2;
}
strong {
  color: #FFF;
}
.moe {
  text-align: center;
}
[data-ember-action] {
  cursor: pointer;
}
.cat {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 47px;
  height: 80px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAABQCAYAAACJUyy4AAACXElEQVR42tXXPWiTURjF8dSKVYuDQxU%2FalBQ0SAZYv2oDgURoVQUcVAHB6cWLSJSJ9EOilKFIrYUxEWCCE46ODhIBlERdFD8GApOMe0QJEQQJTTHs12UlNw097l5ngM%2FXsjw8p%2Fue5MA8L%2FV1EZ9NEoJrWr9mKQcZQncFRvxzn38u2nqtRK%2FF7X3nFLa47voN%2BbfWzqiNX47%2FDZLI7RMS3yKimhsFbrU6vgeNLdvtKlV8Z%2FR%2FOYoEzt%2BCOFWoBUx418g7B7Eil9JZYTfwRjxQ5DZK%2Bn4McjumGR8CbLLScZ%2FgPx6pOJvQ353peJX0Q%2FIrkAdUqfNDipCdgOSH6l2GqQczVCVOD7DbDLWlbiN1lCCTiLMPknE13Me4bY1ZnwGYXcmZnw%2Fwu5xzPidCLs%2FtC5W%2FFGE351Y8U8hs9PS8RnI7gmlpeInEGcFmqJdIeO%2FIv7eUbrZ%2BCRauywtXmj8PrR%2BJepdSPxh6Nlwo%2FHHoWtXG4nvh75d8I3fA5075BO%2FlirQtzx1%2Bpzz76Fzt3zib0LvNteL3wK9m%2FK5VV6HzlWo2%2BcOcQ86N%2BoTn4LOffSJb6c89K3se3d%2BZjn%2BhuX4AZvxzm6atRfvrKef9uKdccvxfTbjnbM2451By%2FEdNGMv3nlkOf6i5fgDluM3UNVevDNtOf6h5fhTluOXUN5evHPNcnzKZrzz2nL8pOX4y5bjT1iOT1uOX05Fe%2FHOG8vxWcvxY5bjxy3Hv7QWv5H20zlrR2WSytrv84soSduom5YGOF3E4ztposaf7CrNEbTGd9GXOi%2F4RSUqRwbu%2B18EpnqMoMw9CwAAAABJRU5ErkJggg%3D%3D) no-repeat;
}
